
<div class="row" style="padding-left:15px">
  <div class="col-md-6">
    <em><%=comment.user.name%>: <%=comment.text%></em>
    <%= link_to "", [comment.complaint, comment], method: :delete, data: {confirm: 'Are you sure?'}, class: "fa fa-trash-o", remote: true %>
  </div>
</div>
