<%=form_for [@complaint, Comment.new], { class: "form-group", remote: true } do |f|%>
  <div class="col-md-6">
    <%= f.text_area :text, class:"form-control", placeholder: "Add a comment" %>
    <%= f.submit 'Submit'%>
  </div>
<%end%>
