<%= render 'partials/header' %>
<div class="container" style="margin-top:25px">
  <div class="row">
    <div class="col-md-2">
      <div id="my-bookings">
        <%= render 'mybookings' %>
      </div>
    </div>
    <div class="col-md-10">
      <div class="col-md-8">
        <ul class="nav nav-tabs">
          <% @facility_types.each do |type| %>
          <li role="presentation" class="facility-tabs">
            <%= link_to type.name, calendar_path(@booking, :facility_type_id => type.id), class: 'fac-types', remote: true %>
          </li>
          <% end %>
        </ul>
      </div>

        <div class="row">
          <div id="calendar" class="col-md-8" style="margin-top:15px">
            <h3>Choose a facility or invite guests</h3>
          </div>
        </div>
        <div id="booking-form" class="col-md-4" style="margin-top:15px"></div>
      </div>
    </div>
  </div>
</div>
